# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/
.venv/
.Python

# Data files
*.csv
*.zip
*.xlsx
data/raw_data.*
data/cleaned_data.*

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Reports and plots
# *.pdf
# *.png
# images/
# reports/

# Logs
*.log
